extends layout

block content
  h1.text-center.mt-5.mb-3=title

  form(method='POST')
    div.form-floating.mb-3
      select#book.form-control(name='book' required)
        option(value='') --Please select a book--
        for book in book_list
          if selected_book==book._id.toString()
            option(value=book._id, selected) #{book.title}
          else
            option(value=book._id) #{book.title}
      label(for='book') Book

    div.form-floating.mb-3
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required value=(undefined===bookinstance ? '' : bookinstance.imprint) )
      label(for='imprint') Imprint

    div.form-floating.mb-3
      input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_isodate))
      label(for='due_back') Date when book available

    div.form-floating.mb-3
      select#status.form-control(name='status' required)
        option(value='') --Please select a status--
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
          if undefined===bookinstance || bookinstance.status!=val
            option(value=val)= val
          else
            option(value=val selected)= val
      label(for='status') Status

    div.d-flex.justify-content-center
      button.btn.btn-primary.col-2(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
