extends layout

block content
  div(class='container mt-5')
    
    h1(class='text-center mb-5')= title

    p The library has the following record counts

    ul.list-group-flush.list-group
      li.list-group-item #[strong Books:] !{book_count}
      li.list-group-item #[strong Copies:] !{book_instance_count}
      li.list-group-item #[strong Copies available:] !{book_instance_available_count}
      li.list-group-item #[strong Authors:] !{author_count}
      li.list-group-item #[strong Genres:] !{genre_count}